<ion-content class="corpo">

  <ion-img class="logo" src="../../../assets/LogoKiBeleza.svg" alt="Logo KiBeleza"></ion-img>

  <ion-row> <!--Começo da linha-->
    <ion-col size="6"> <!--Inicio e tamanho da coluna-->
      <ion-tab-button tab="sobre"> <!--Botão redirecionando para a pagina sobre-->
        <ion-img src="../../../assets/img01.jpeg"></ion-img>
      </ion-tab-button>
    </ion-col>  <!--Fim da coluna-->
    <ion-col size="6">
      <ion-tab-button tab="lista-servico"> <!--Botão redirecionando para a pagina lista-servico-->
        <ion-img src="../../../assets/img02.jpg"></ion-img>
      </ion-tab-button>
    </ion-col>
  </ion-row> <!--Fim da linha-->

  <ion-row>
    <ion-col size="12"> <!--Inicio e tamanho da coluna-->
      <ion-slides pager="true"> <!--Começo ionic slide-->
        <ion-slide> <!--Slide 01-->
          <ion-img src="../../../assets/img03.jpeg" alt="Banner KiBeleza"></ion-img>
        </ion-slide> <!--Fim slide 01-->
    
        <ion-slide> <!--Slide 02-->
          <ion-img src="../../../assets/img03.jpeg" alt="Banner KiBeleza"></ion-img>
        </ion-slide> <!--Fim slide 02-->
    
        <ion-slide> <!--Slide 03-->
          <ion-img src="../../../assets/img03.jpeg" alt="Banner KiBeleza"></ion-img>
        </ion-slide> <!--Fim slide 03-->
      </ion-slides> <!--Fim ionic slide-->
    </ion-col> <!--Fim da coluna-->
  </ion-row>

  <ion-row class="iconSocial">
    <ion-col size="2" offset="2">
      <a href="#">
        <ion-img src="../../../assets/facebook.svg" alt="Logo Facebook"></ion-img>
      </a>
    </ion-col>
    <ion-col size="2">
      <a href="#">
        <ion-img src="../../../assets/instagram.svg" alt="Logo Instagram"></ion-img>
      </a>
    </ion-col>
    <ion-col size="2">
      <a href="#">
        <ion-img src="../../../assets/twitter.svg" alt="Logo Twitter"></ion-img>
      </a>
    </ion-col>
    <ion-col size="2">
      <a href="#">
        <ion-img src="../../../assets/WhatsVerde.svg" alt="Logo Whatsapp"></ion-img>
      </a>
    </ion-col> 
  </ion-row>




</ion-content>
