.corpo{
    /*sem repetir - centralizar horizontalmente - centralizar verticalmente - cobrir  */
    --background: #fff url(../../../assets/FundoArt.png) no-repeat center center / cover;
}

.logo{
    width: 70%;
    margin: 20% auto 5% auto;
    color: #8b63a6;
}

.iconSocial ion-img{
    width: 90%;
    margin: 25% auto;
}