<ion-tabs>

  <ion-tab-bar slot="bottom"> <!--Inicio dos botoes-->
    <ion-tab-button tab="home"> <!--Alteração do nome da pag-->
      <ion-icon name="home"></ion-icon> <!--Alteração dos icons-->
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sobre">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Sobre</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lista-servico">
      <ion-icon name="cut"></ion-icon>
      <ion-label>Serviço</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>
 
  </ion-tab-bar> <!--Fim dos botoes-->

</ion-tabs>
