.topo {
    padding-top: 10%;
    text-align: center;
}

.topo ion-title{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;    
    color: white; 

}
.corpo{
    /*sem repetir - centralizar horizontalmente - centralizar verticalmente - cobrir  */
    --background: #fff url(../../../assets/FundoArt2.png) no-repeat center center / cover;
}

.texto{
    margin: 15px 0;
    background-color: rgba(255, 136, 239, 0.5);
    color: white;
    word-wrap: wrap;
    text-align: justify;
}
