<ion-content class="corpo">

<ion-header>
  <ion-toolbar class="topo" color="primary">
    <ion-title>sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-img class="logo" src="../../../assets/LogoKiBeleza.svg" alt="Logo KiBeleza"></ion-img>

<ion-row>
  <ion-col class="texto" size="10" offset="1">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo fugiat reiciendis accusantium, voluptatibus illo velit sint dolorum dolorem totam animi non neque dignissimos amet unde ipsam, earum possimus! Est, quae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo fugiat reiciendis accusantium, voluptatibus illo velit sint dolorum dolorem totam animi non neque dignissimos amet unde ipsam, earum possimus! Est, quae?
    </p>
  </ion-col>
</ion-row>

<ion-row> <!-- slider de imagens -->
  <ion-col size="10" offset="1">
    <ion-slides pager="false">
      <ion-slide>
        <ion-img src="../../../assets/img03.jpeg"></ion-img>
      </ion-slide>
    
      <ion-slide>
        <ion-img src="../../../assets/img03.jpeg"></ion-img>
      </ion-slide>
    
      <ion-slide>
        <ion-img src="../../../assets/img03.jpeg"></ion-img>
      </ion-slide>
    </ion-slides>
  </ion-col>
</ion-row>

<ion-row class="iconSocial">
  <ion-col size="2" offset="2">
    <a href="#">
      <ion-img src="../../../assets/facebook.svg" alt="Logo Facebook"></ion-img>
    </a>
  </ion-col>
  <ion-col size="2">
    <a href="#">
      <ion-img src="../../../assets/instagram.svg" alt="Logo Instagram"></ion-img>
    </a>
  </ion-col>
  <ion-col size="2">
    <a href="#">
      <ion-img src="../../../assets/twitter.svg" alt="Logo Twitter"></ion-img>
    </a>
  </ion-col>
  <ion-col size="2">
    <a href="#">
      <ion-img src="../../../assets/WhatsVerde.svg" alt="Logo Whatsapp"></ion-img>
    </a>
  </ion-col> 
</ion-row>

</ion-content>
